* {
  width: 100%;
  display: block;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    width: 90vw;
    margin: 0 auto;
    background: lightgoldenrodyellow;
}
form {
    margin: 10vw auto;
    width: 50vw;
    height: 90vw;
    background: lightblue;
    padding: 5vw;
    }
label {
    font-family: sans-serif;
}
/* head, script, link {
  display: none;
} */

