.form input{
  display: none;
}
.form select {
  visibility: hidden;
}
submit {
  width: 13vw;
  height:3vw;
  border: 1px solid black;
  padding-top: calc(3vw/3);
  text-align: center;
  background-color: grey;
  cursor: default;
  }
  submit:hover {
  width: 13vw;
  height:3vw;
  border: 1px solid black;
  padding-top: calc(3vw/3);
  text-align: center;
  background-color: black;
  color: white;
  }
  submit:active {
  width: 13vw;
  height:3vw;
  border: 1px solid black;
  padding-top: calc(3vw/3);
  text-align: center;
  background-color: black;
  color: white;
  }

form .textbox {
  width: 40vw;
  height: 4vw;
  border-radius: 3px;
  display: block;
  transition: 350ms;
  position: relative;
  padding-left: 1vw;
}
form .textbox:placeholder-shown {
  padding-left: 1vw;
}
form .textbox:valid {
border: 1px solid black;
}
form .textbox:invalid {
  border: 1px solid red;
}

form .labelselect {
  width: 40vw;
  height: 4vw;
  border: 1px solid blue;
  border-radius: 3px;
  display: block;
  transition: 350ms;
  position: relative;
}
select:not(:selected) + label {
  display:block;
    
}
select:selected + div {
  display:block;
  border: 1px solid black;
   width: 40vw;
  height: 4vw;
}
form .labelcheck {
  background-size: 25vw;
  background-repeat: no-repeat;
  background-image: url("../sprites/form-elements-sprite.png");
  background-position: 0px 0px;
  width: 2.5vw;
  height: 2.5vw;
  border: 1px solid grey;
  display: block;
  transition: 0ms;
  position: relative;
}

input[type="checkbox"]:not(:checked) + label {
  background-position: -6.7vw -4.3vw; 
}

/* :placeholder-shown */

#check1:checked + label {
    background-position: -2.9vw -4.3vw; 
}

#check2:checked + label {
    background-position: -2.9vw -4.3vw; 
}


input[type="radio"] {
    display:none;
}

input[type="radio"] + label div {
  background-size: 25vw;
  height:2.5vw;
  width: 2.5vw;
  border: 1px solid grey;
  margin: 1vw;
  border-radius:50%;
  background-image: url("../sprites/form-elements-sprite.png");
  background-repeat: no-repeat;
  background-position: -10vw -4.29vw; 
    }

input[type="radio"]:checked + label div {
      background-position: -14.2vw -4.29vw; 
}